ipython==8.4.0
jupyter==1.0.0
matplotlib==3.5.2
numpy==1.22.4
pandas==1.4.2
pydot==1.4.2
scikit-learn==1.1.1
scipy==1.8.1
tensorflow==2.8.0
protobuf==3.20.0
sklearn
opencv-python
fastai
torch==1.11.0
timm
transformers
ipykernel
huggingface_hub[fastai]
dill
gradio